#
# Linker memory layout:
#   $2000 = installer hook
#   $2100 = origin of actual program, but populates immediately after installer
#

MEMORY {
	INIT:	start = $2000, size = $100, define = yes;
	PGM:	start = $2100, size = $100, define = yes;
}

SEGMENTS {
	RCODE:	load = INIT;
	CODE:	load = PGM, define = yes;
	DATA:	load = PGM;
}

